# Server
PORT=3000
MONGODB_URI=--- Enter your MongoDB URI ----------
CORS_ORIGIN=http://localhost:5173

# JWT Auth
ACCESS_TOKEN_SECRET=--- Enter your access token secret ----------
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=--- Enter your refresh token secret ----------
REFRESH_TOKEN_EXPIRY=10d

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Movie Data
TMDB_API_KEY=--- Enter your key here ----------

# SMTP Credentials
SENDER_EMAIL=--- ENTER SENDER_EMAIL ----------
SMTP_USER=--- ENTER SMTP_USER ----------
SMTP_PASS=--- ENTER SMTP_PASS ----------

# Inngest
INNGEST_EVENT_KEY=--- Enter your key here ----------
INNGEST_SIGNING_KEY=--- Enter your key here ----------

# Stripe
STRIPE_PUBLISHABLE_KEY=--- Enter your key here ----------
STRIPE_SECRET_KEY=--- Enter your key here ----------
STRIPE_WEBHOOK_SECRET=--- Enter your key here ----------
